@model IPagedList<ToDo.UI.DTOs.TodoDto.ReadToDoDto>
@using X.PagedList
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Result All ToDos and Its Tasks </h1>


<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="bi bi-plus-circle " ></i> Create New
    </a>
    <div>
        <form asp-controller="Todos" asp-action="Index">
            <button type="submit" class="btn btn-primary">Search</button>
            <input type="text" name="searchString" placeholder="search name and description" value="@ViewData["CurrentFilter"]" />
            <select></select>
            <p>Result: @ViewBag.SearchResult</p>
                
        </form>
    </div>

</p>

<table class="table table-bordered">
    <thead class="table-light">
        <tr>
            <th>Id</th>
            <th ><a asp-action="Index" asp-controller="Todos" asp-route-sortOrder="@ViewData["NameSortParm"]">Name</a></th>
            <th>Description</th>
            <th>Status</th>
            <th>Created At</th>
            <th>Progress</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="color:blueviolet">
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.ToDoStatus</td>
                <td>@item.CreatedAt</td>
                <td>@item.Progress</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary me-1">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info text-white me-1">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?');">Delete</a>
                </td>

            </tr>

            @if (item.Tasks != null && item.Tasks.Any())
            {
                <tr>
                    <td colspan="7">
                        <table class="table table-sm table-hover mb-0">
                            <thead>
                                <h5 style="text-align:center; color:blue"> Tasks</h5>
                                <tr class="table-secondary">
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>DurationInMinutes</th>
                                    <th>ToDoId</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in item.Tasks)
                                {
                                    <tr>
                                        <td>@task.Id</td>
                                        <td>@task.Name</td>
                                        <td>@task.Description</td>
                                        <td>@task.TasksStatus</td>
                                        <td>@task.DurationInMinutes</td>
                                        <td>@task.TodoId</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <hr style="color:red; border:dotted" />
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<!-- Pagination tugmalari -->
<div>
    <!-- Pagination tugmalari -->
    
</div>
